{%  extends 'layout.html' %}

{% block content %}
     <div class="container">
        <div class="container text-center" style="margin-top: 20px; margin-bottom: 30px;">
          <h2 style="font-weight: bold;">Administrator</h2>
        </div>
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/admin/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                New Admin
            </a>
            <div style="float: right; width:300px">
                <form method="get">
                     <div class="input-group">

                          <input type="text" name="q" class="form-control" placeholder="Table Number" value="{{ search_data }}">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                          </span>

                    </div>
                </form><!-- /input-group -->

            </div>
        </div>

        <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">

          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>

            Admin List
      </div>
      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
              <th>ID</th>
              <th>User Name</th>
              <th>Password</th>
              <th>Operation</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr uid="{{ obj.id }}">
              <th>{{ obj.id }}</th>
              <td>{{ obj.username }}</td>
              <td>*******</td>
              <td>
                  <a href="/admin/reset/{{ obj.id }}">Reset Password</a>
              </td>
              <td>
                <a class="btn btn-primary btn-xs" href="/admin/edit/{{ obj.id }}/">Edit</a>
                <input uid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="Delete">
              </td>
          </tr>
        {% endfor %}
        </tbody>

      </table>
    </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <h4>Delete! Are you sure?</h4>
          <p style="margin: 10px 0;"> It will delete all the related data!</p>
          <p style="text-align: right">
            <button id="btnConfirmDelete" type="button" class="btn btn-danger">Confirm</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </p>
        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        var DELETE_ID
        $(function () {

            bindBtnAddEvent();
            bindBtnDeleteEvent();
            bindBtnConfirmDeleteEvent();
        })

        function bindBtnAddEvent() {

            $("#btnAdd").click(function () {
                $(".error-msg").empty()
                $.ajax({
                    url: "/Admin/add/",
                    type: "post",
                    data: $("#formAdd").serialize(),
                    dataType: "JSON",
                    success: function(res){
                        if (res.status){
                            alert("Add new succeed")
                        }else{
                            res.error
                            $.each(res.error,function(name,data){
                                //console.log(name,data);
                                $("#id_" + name).next().text(data[0]);
                            })
                        }
                    }
                })
             })
        }
        function bindBtnDeleteEvent() {

            $(".btn-delete").click(function () {
                $("#deleteModal").modal('show');

                DELETE_ID = $(this).attr("uid");
                console.log(DELETE_ID);
            })
        }
        function bindBtnConfirmDeleteEvent(){
            $("#btnConfirmDelete").click(function(){
                $.ajax({
                    url:"/admin/delete/",
                    type: "Get",
                    data:{
                        uid: DELETE_ID
                    },
                    dataType:"JSON",
                    success: function(res){
                        if(res.status){
                            location.reload()
                        }else{
                            alert(res.error);
                        }
                    }
                })
            });
        }

    </script>
{% endblock %}