{%  extends 'layout_new.html' %}
{% block content %}
<h1>Welcome to Restaurant Management System</h1>
<div class="buttons">
  <a href="{% url 'admin_list' %}" class="button-card">
    <span class="material-icons">admin_panel_settings</span>
    Admin
  </a>

  <a href="{% url 'depart_list' %}" class="button-card">
    <span class="material-icons">apartment</span>
    Department
  </a>

  <a href="{% url 'user_list' %}" class="button-card">
    <span class="material-icons">groups</span>
    Staff
  </a>

  <a href="{% url 'order_list' %}" class="button-card">
    <span class="material-icons">assignment</span>
    Order
  </a>

  <a href="{% url 'item_list' %}" class="button-card">
    <span class="material-icons">inventory_2</span>
    Item
  </a>
</div>
{%  endblock %}