{%  extends 'layout.html' %}

{% block content %}
     <div class="container">
        <div class="container text-center" style="margin-top: 20px; margin-bottom: 30px;">
          <h2 style="font-weight: bold;">Order Management</h2>
        </div>
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/order/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                New Order
            </a>
            <div style="float: right; width:300px">
                <form method="get">
                     <div class="input-group">

                          <input type="text" name="q" class="form-control" placeholder="Table Number" value="{{ search_data }}">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                          </span>

                    </div>
                </form><!-- /input-group -->

            </div>
        </div>

        <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">

          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>

            Order List
      </div>
      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
              <th>Table Number</th>
              <th>Server Name</th>
              <th>Item</th>
              <th>item Number</th>
              <th>Price/Item</th>
              <th>Status</th>
              <th>Operation</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
              <th>{{ obj.tableNum }}</th>
              <th>{{ obj.serverId.name }}</th>
              <th>{{ obj.item.get_item_display }}</th>
              <th>{{ obj.itemNum }}</th>
              <th>{{ obj.item.itemPrice}}</th>
              <th>{{ obj.get_status_display }}</th>


            <td>
                <a class="btn btn-primary btn-xs" href="/order/{{ obj.id }}/edit/">Edit</a>
                <input uid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="Delete">
            </td>
          </tr>

        {% endfor %}

        </tbody>

      </table>
    </div>
         <ul class="pagination">
          {% if queryset.has_previous %}
            <li><a href="?page={{ queryset.previous_page_number }}&q={{ search_data }}">«</a></li>
          {% else %}
            <li class="disabled"><a href="#">«</a></li>
          {% endif %}

          {% for num in queryset.paginator.page_range %}
            {% if num == queryset.number %}
              <li class="active"><a href="#">{{ num }}</a></li>
            {% else %}
              <li><a href="?page={{ num }}&q={{ search_data }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}

          {% if queryset.has_next %}
            <li><a href="?page={{ queryset.next_page_number }}&q={{ search_data }}">»</a></li>
          {% else %}
            <li class="disabled"><a href="#">»</a></li>
          {% endif %}
        </ul>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <h4>Delete! Are you sure?</h4>
          <p style="margin: 10px 0;"> It will delete all the related data!</p>
          <p style="text-align: right">
            <button id="btnConfirmDelete" type="button" class="btn btn-danger">Confirm</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </p>
        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        var DELETE_ID
        $(function () {

            bindBtnDeleteEvent();
            bindBtnConfirmDeleteEvent();
        })
       
        function bindBtnDeleteEvent() {

            $(".btn-delete").click(function () {
                $("#deleteModal").modal('show');

                DELETE_ID = $(this).attr("uid");
                console.log(DELETE_ID);
            })
        }
        function bindBtnConfirmDeleteEvent(){
            $("#btnConfirmDelete").click(function(){
                $.ajax({
                    url:"/order/delete/",
                    type: "Get",
                    data:{
                        uid: DELETE_ID
                    },
                    dataType:"JSON",
                    success: function(res){
                        if(res.status){
                            location.reload()
                        }else{
                            alert(res.error);
                        }
                    }
                })
            });
        }

    </script>
{% endblock %}