{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/user/model/form/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                New User
            </a>
        </div>

        <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">

          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>

            User List
      </div>
      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
              <th>ID</th>
              <th>UserName</th>
              <th>Password</th>
              <th>Age</th>
              <th>Account</th>
              <th>Gender</th>
              <th>DepartmentID</th>
              <th>Operation</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
              <th>{{ obj.id }}</th>
              <th>{{ obj.name }}</th>
              <th>{{ obj.password }}</th>
              <th>{{ obj.age}}</th>
              <th>{{ obj.account }}</th>
              <th>{{ obj.get_gender_display }}</th>
              <th>{{ obj.department.title }}</th>

            <td>
                <a class="btn btn-primary btn-xs" href="/user/{{ obj.id }}/edit/">Edit</a>
                <a class="btn btn-danger btn-xs" href="/user/{{ obj.id }}/delete/">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>

      </table>
    </div>
    </div>
{% endblock %}
